extends layout

block content
  h1= title
  p#success #{message}
  form(method='post', action='/login')
    p
      label(for='username') Username:
      input#username(type='text', name='username')
    p
      label(for='password') Password:
      input#password(type='text', name='password')
    p
      input(type='submit', value='Login')